build
.gradle
.idea
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
out
*.iml
.directory
node_modules
local.properties

.DS_Store
.externalNativeBuild
.database

Pods/

.project
.settings
.classpath
.gradletasknamecache
.kotlin

*.db
androidApp/src/main/res/values/strings.xml
androidApp/release
**/build/
xcuserdata
!src/**/build/
captures
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
android-build

shared/store.properties
/tmp/
