@import url(https://cloud.typography.com/7463094/7169552/css/fonts.css);

#root {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    color: #16103F;
    font-family: Arial,Helvetica,sans-serif;
}

/* Session list */
.sessions .session {
    padding: 8px 15px;
}

.sessions .session {
    border-bottom: 1px dotted rgb(200, 200, 200);
}

.sessions .session:last-child {
    border-bottom: none;
}

.sessions .session .session-title {
    padding-bottom: 4px;
    font-size: 25px;
}

.sessions .session:hover {
    background-color: rgb(240,240,240);
}

.sessions .session .session-title a {
    text-decoration: none;
}

.sessions .session .session-title a:hover {
    text-decoration: underline;
}

.sessions .session .session-title a:hover {
    text-decoration: underline;
}

.sessions .session .session-title a:visited {
    color: blue;
}


/* Session view */

.session-app-title {
    position: fixed;
    top: 17.0vh;
    font-size: 11.0vh;
    line-height: 100%;
    left: 14.3vh;
    color: white;
    font-weight: bold;
}

.session-view {
    background-color: #16103F;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1vh;
    line-height: 100%;
}

.session-badges {
    position: absolute;
    top: 33.1vh;
    left: 13.5vh;
    word-spacing: 3.1vh;
}

.session-badge {
    display: inline-block;
    height: 7.7vh;
    width: 25.9vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.session-badge-app-store {
    background-image: url("app-store-badge.png");
}

.session-badge-google-play {
    background-image: url("google-play-badge.png");
}

/* Session block */

.session-block .session-subtitle {
    color: #686868;
}

.session-block .session-time, .session-block .session-room {
    font-size: 1.8vh;
    margin-top: 0;
    margin-bottom: 0;
}

.session-block {
    position: fixed;
    top: 0;
    right: 13.8vh;
    width: 42.2vh;
    height: 56.5vh;
    background-color: white;
    border-bottom-left-radius: 4.4vh;
    border-bottom-right-radius: 4.4vh;
    font-size: 1.8vh;
}

.session-block .session-title {
    font-size: 2.8vh;
    font-weight: bold;
    line-height: 100%;
    padding-bottom: 3.0vh;
}

.session-block .session-speakers {
    display: none;
}

.session-info-block {
    position: absolute;
    top: 0.4vh;
    bottom: 19.5vh;
    left: 2.9vh;
    right: 2.5vh;

    padding-top: 1.8vh;
    border-top: 0.2vh solid #EEEDEF;
    padding-bottom: 1.8vh;
    border-bottom: 0.2vh solid #EEEDEF;

    overflow: hidden;
}

.session-info-block:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5vh;
    background: linear-gradient(transparent, white);
}

.session-description {
    margin: 0;
    line-height: 125%;
}

.session-description p:nth-child(1) {
    margin-top: 0;
    padding-top: 0;
}

.session-circle {
    position: absolute;
    height: 6.0vh;
    bottom: 1.7vh;
    left: 0;
    right: 0;
    background: url("circle.png") no-repeat center center;
    background-size: 6.0vh 6.0vh;
}

.session-smiles, .session-smiles-label {
    position: absolute;
    left: 2.9vh;
    right: 3.9vh;
    top: 37.9vh;
    height: 2.8vh;
    line-height: 2.8vh;
    vertical-align: baseline;
    color: #686868;
}

.session-smiles {
    text-align: right;
    word-spacing: 2.6vh;
}

.session-smile-small {
    width: 2.8vh;
    height: 2.8vh;
    display: inline-block;
    background-size: 2.8vh 2.8vh;
}

.session-smile-small-happy {
    background-image: url("happy-smile-small.png");
}

.session-smile-small-unhappy {
    background-image: url("not-happy-smile-small.png");
}

.session-smile-small-neutral {
    background-image: url("neutral-smile-small.png");
}

/* Votes */

.session-votes-total {
    position: fixed;
    bottom: 3.7vh;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2.2vh;
    line-height: 100%;
    color: white;
}

.session-votes, .session-votes-unavailable {
    position: fixed;
    bottom: 10.3vh;
    left: 0;
    right: 0;
    height: 24.5vh;
    color: white;
}

.session-votes-unavailable {
    height: 15.0vh;
}

.session-votes-unavailable {
    font-weight: bold;
    font-size: 3.0vh;
    color: rgb(180,180,180);
}

.session-votes-good, .session-votes-bad, .session-votes-soso {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.session-votes-content {
    display: table;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.session-votes-cell-hack {
    width: 0.1vh;
    height: 21.3vh;
    display: inline-block;
    vertical-align: middle;
}

.session-votes-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.session-votes-container {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.session-votes-good {
    background-color: #FF6A16;
}

.session-votes-soso {
    background-color: #A7A7A7;
}

.session-votes-bad {
    background-color: #379FF3;
}

.session-votes-good .session-votes-label {
    background-image: url("happy-smile.png");
}

.session-votes-soso .session-votes-label {
    background-image: url("neutral-smile.png");
}

.session-votes-bad .session-votes-label {
    background-image: url("not-happy-smile.png");
}

.session-votes-label {
    background-size: contain;
    width: 9.4vh;
    height: 9.4vh;
    line-height: 9.4vh;
    background-repeat: no-repeat;
    display: inline-block;
    overflow: hidden;
}

.session-votes-count-absolute {
    padding-top: 1.0vh;
    font-size: 2.0vh;
    line-height: 100%;
    font-weight: bold;
    display: block;
    overflow: hidden;
}

.session-votes-count-percentage {
    padding-top: 2.2vh;
    font-size: 4.2vh;
    line-height: 100%;
    font-weight: bold;
    display: block;
    overflow: hidden;
}
