# Build directories
build/
cmake-build-debug/
DerivedData/

# Other
*.moved-aside
*.xcuserstate
*~.nib

# User settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

.DS_Store
.Trashes
*.swp