<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="org.jetbrains.kotlinconf.android.KotlinConfApplication"
        android:theme="@style/Theme.App.Splash">
        <activity
            android:name="org.jetbrains.kotlinconf.android.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.App.Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Used by Firebase when it displays push notifications automatically -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/kotlinconf_notification_icon"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="channel_all_notifications"/>
    </application>
</manifest>
