<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTVsY8lQYU3tKB0f7tKnjdM3A2tpbxx1o</string>
	<key>GCM_SENDER_ID</key>
	<string>100448310880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kotlinconf.iosapp</string>
	<key>PROJECT_ID</key>
	<string>kotlin-conf</string>
	<key>STORAGE_BUCKET</key>
	<string>kotlin-conf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100448310880:ios:a22fea9668e6183940d505</string>
</dict>
</plist>